@media screen and (min-width: 1280px) {
    .navigation {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .navbar-header,
    .container {
        max-width: 1200px;
    }

    .logo {
        width: 16.33%;
    }

    .menu {
        width: 83.67%;
    }

    .search-nav {
        width: 320px;
    }

    .search-nav--form {
        padding: .75rem;
    }

    .headline--inner {
        max-width: 1200px;
        gap: 5rem;
    }

    .post--image {
        height: 200px;
    }

    .post-detail article {
        width: 70%;
    }

    .post-detail aside {
        width: 30%;
    }

}