@media screen and (min-width: 768px) {
    .navbar-header {
        justify-content: start;
    }

    .logo {
        width: 20%;
    }

    .menu {
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .menu .menu--list {
        padding: 0px;
    }

    .menu--list li {
        display: inline-block;
    }

    .menu--list li a {
        padding: 0rem .5rem 0rem .5rem;
    }

	.btn-collapse {
		display: none;
	}

    .search-nav {
        padding-left: 0rem;
        padding-right: 0rem;
    }


    .headline {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .headline--inner {
        display: flex;
        flex-direction: row-reverse;
        gap: 3rem;
        align-items: center;
    }

    .headline--image,
    .headline--content {
        width: 50%;
    }

    .headline--image {
        height: 360px;
    }
}